
  


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 15px;
}
.wrapper{
    font-family: 'poppins',sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #434343;
    color: #fff;
    padding-top: 50px;
}
.serve{
    color: rgb(218, 84, 84);
    font-size: 40px;
}
.wrapper h1{
    font-size: 3em;

    margin: 25px;
}
.content-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1000px;
    margin-top: 30px;
}
.card{
    min-height: 220px;
    width: 320px;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #d4cfcf;
    margin: 10px 4px;
    box-shadow: 0px 15px 30px rgba(0,0,0,0.2);
}
.card i{
    margin: 20px;
    color: #581ed6;
}
.card h2{
    margin-bottom: 12px;
    font-weight: 400;
    text-align: center;
    color: rgb(175, 103, 103);
}
.card p{
    color: #6c757d;
    text-align: center;
}
.card:hover i,
.card:hover p{
    color: #fff;
}
.card:hover h2{
    font-weight: 600;
}
.card:nth-child(1):hover{
    background: linear-gradient(45deg,
                                   rgba(88, 70, 159, 0.7) 0% ,
                                   rgba(209, 68, 68, 0.7)100% ) ,
                                    url('serv img/bg.jpg');
                                    background-size: cover;
}
.card:nth-child(2):hover{
    background: linear-gradient(45deg,
                                   rgba(88, 70, 159, 0.7) 0% ,
                                   rgba(209, 68, 68, 0.7)100% ) ,
                                    url('serv img/bg2.jpg');
                                    background-size: cover;
}
.card:nth-child(3):hover{
    background: linear-gradient(45deg,
                                   rgba(88, 70, 159, 0.7) 0% ,
                                   rgba(209, 68, 68, 0.7)100% ) ,
                                    url('serv img/bg3.jpg');
                                    background-size: cover;
}
.card:nth-child(4):hover{
    background: linear-gradient(45deg,
                                   rgba(88, 70, 159, 0.7) 0% ,
                                   rgba(209, 68, 68, 0.7)100% ) ,
                                    url('serv img/bg4.jpg');
                                    background-size: cover;
}
.card:nth-child(5):hover{
    background: linear-gradient(45deg,
                                   rgba(88, 70, 159, 0.7) 0% ,
                                   rgba(209, 68, 68, 0.7)100% ) ,
                                    url('serv img/bg5.jpg');
                                    background-size: cover;
}
.card:nth-child(6):hover{
    background: linear-gradient(45deg,
                                   rgba(88, 70, 159, 0.7) 0% ,
                                   rgba(209, 68, 68, 0.7)100% ) ,
                                    url('serv img/bg2.jpg');
                                    background-size: cover;
}
@media(max-width:991px){
    .wrapper{
        padding: 25px;
    }
    .wrapper h1{
        font-size: 2.5em;
        font-weight: 600;
    }
    .content-box{
        flex-direction: column;
        width: 100%;
    }
    .card{
        min-width: 300px;
        margin: 10px auto;
    }
}
nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3;
    border-bottom: 3px solid transparent;
  }
  nav a:hover,
  nav a.active{
    color: #b74b4b;
    border-bottom: 3px solid #b74b4b;
  }
  html{
    font-size: 62.5%;
  }
  header{
    margin-top: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    z-index: 100;
  
  
  }
  .logo{
    font-size: 3rem;
    color: #b74b4b;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
  }
  
  .logo:hover{
    transform: scale(1.1);
  }